# This is an stm32u3 via an ST-Link using OOCD from ST's github repo
# https://github.com/STMicroelectronics/OpenOCD branch openocd-cubeide-r6
source [find interface/stlink-dap.cfg]
transport select dapdirect_swd

source [find target/stm32u3x.cfg]

reset_config trst_and_srst

init
